<div class=''>
  <div class="row card investor-card-container">
  <h5 class="show-investment-card-title">Investment Details</h5>
  <div class="investment-divider" style="margin-bottom: 15px"></div>
  <div class="row" style="padding: 0 15px; margin-bottom: 15px" >
    <div class="col-xs-6">
      Investment Type
    </div>
    <div class="col-xs-6" style="text-align:right; font-weight: bold">
      <%= @investment&.deal&.property&.property_type&.humanize.titleize %>
    </div>
  </div>
  <div class="grey-divider" style="margin-bottom: 15px"></div>
  <div class="row row-margin">
    <p class="investment-section-title">
      Investor Equity
    </p>
    <% @property_investments.each do |investment| %>
      <div class="col-xs-10 no-padding">
        <%= investment&.investor_entity %>
      </div>
      <div class="col-xs-2 no-padding" style="text-align:right">
        <%= number_to_currency(investment.amount_invested, precision: 2) %>
      </div>
    <% end %>
  </div>
  <div class="row row-margin">
    <div class="col-xs-6 no-padding" style="margin-top: 10px">
      <b>Total</b>
    </div>
    <div class="col-xs-6 no-padding" style="text-align:right; font-weight: bold; margin-top: 10px">
      <%= number_to_currency(@property_investments.inject(0) { |sum, i| sum + i.amount_invested.to_f }) %>
    </div>
  </div>
  <div class="grey-divider" style="margin-bottom: 15px"></div>
  <div class="row row-margin">
    <p class="investment-section-title">
      Gross Distributions
    </p>
    <% @property_investments.each do |investment| %>
      <div class="col-xs-10 no-padding">
        <%= investment.investor_entity %>
      </div>
      <div class="col-xs-2 no-padding" style="text-align:right">
        <%= number_to_currency(investment.total_gross_distribution, precision: 2) %>      
      </div>
    <% end %>
  </div>
  <div class="row row-margin">
    <div class="col-xs-6 no-padding" style="margin-top: 10px">
      <b>Total</b>
    </div>
    <div class="col-xs-6 no-padding" style="text-align:right; font-weight: bold; margin-top: 10px">
      <%= number_to_currency(@user_gross_distribution, precision: 2) %>
    </div>
  </div>
</div>
</div>
<div class="card investor-card-container">
  <h5 class="show-investment-card-title">Investment Summary</h5>
  <div class="grey-divider"></div>
  <div style="padding: 15px; line-height: 1.25rem">
    <%= @investment&.deal&.property&.description&.html_safe %>
  </div>
</div>
