<div class='details-container'>
  <div class="row card investor-card-container">
  <h5 class="show-investment-card-title">Investment Details</h5>
  <div class="investment-divider" style="margin-bottom: 15px"></div>
  <div class="row" style="padding: 0 15px; margin-bottom: 15px" >
    <div class="col-xs-6">
      Investment Type
    </div>
    <div class="col-xs-6" style="text-align:right; font-weight: bold">
      <%= @investment&.deal&.property&.property_type&.humanize.titleize %>
    </div>
  </div>
  <div class="grey-divider" style="margin-bottom: 15px"></div>
  <div class="row row-margin">
    <p class="investment-section-title">
      INVESTOR EQUITY
    </p>
    <% @property_investments.each do |investment| %>
      <div class="col-xs-6 no-padding">
        <%= investment&.investor_entity %>
      </div>
      <div class="col-xs-6 no-padding" style="text-align:right">
        <%= number_to_currency(investment.amount_invested, precision: 0) %>
      </div>
    <% end %>
  </div>
  <div class="row row-margin">
    <div class="col-xs-6 no-padding" style="margin-top: 10px">
      <b>Total</b>
    </div>
    <div class="col-xs-6 no-padding" style="text-align:right; font-weight: bold; margin-top: 10px">
      <%= number_to_currency(@property_investments.pluck(:amount_invested).sum, precision: 0) %>
    </div>
  </div>
  <div class="grey-divider"></div>
  <div class="row row-margin">
    <p class="investment-section-title">
      GROSS DISTRIBUTIONS
    </p>
    <div class="col-xs-6 no-padding">
        <%= @investment&.investor_entity %>
    </div>
    <div class="col-xs-6 no-padding" style="text-align:right">
      <% unless @investment&.gross_distribution.blank? %>
        <%= number_to_currency(@investment&.gross_distribution, precision: 0) %>
      <% else %>
        $0.00
      <% end %>
    </div>
  </div>
  <div class="row row-margin">
    <div class="col-xs-6 no-padding" style="margin-top: 10px">
      <b>Total</b>
    </div>
    <div class="col-xs-6 no-padding" style="text-align:right; font-weight: bold; margin-top: 10px">
      <%= number_to_currency(Investment.total_gross_distribution(@property_investments.pluck(:gross_distribution)), precision: 0) %>
    </div>
  </div>
  <div class="grey-divider"></div>
  <div class="row row-margin" style="padding-bottom: 15px">
    <p class="investment-section-title">
      CAPITAL OUTSTANDING
    </p>
    <% @property_investments.each do |investment| %>
      <div class="col-xs-6 no-padding">
        <%= investment&.investor_entity %>
      </div>
      <div class="col-xs-6 no-padding" style="text-align:right">
        <%= number_to_currency((investment.amount_invested.to_i - @investment&.deal&.property&.gross_distributions.to_i), precision: 0) %>
      </div>
    <% end %>
  </div>
  <div class="row row-margin" style="margin-bottom: 20px">
    <div class="col-xs-6 no-padding" style="margin-top: 10px">
      <b>Total</b>
    </div>
    <div class="col-xs-6 no-padding" style="text-align:right; font-weight: bold; margin-top: 10px">
      <%= number_to_currency((@property_investments.pluck(:amount_invested).sum - @investment&.deal&.property&.gross_distributions.to_i), precision: 0) %>
    </div>
  </div>
</div>
</div>
<div class="row card investor-card-container">
  <h5 class="show-investment-card-title">Investment Summary</h5>
  <p>
    <%= @investment&.deal&.property&.description %>
  </p>
</div>
