<h5 class="dashboard-title"><%= @investment.deal&.property&.name || @investment.deal.title %></h5>
<div class="grey-divider" style="margin-bottom: 2em"></div>
<div class="container">
  <div class="investment-mobile-container">
    <div class="row">
      <% if @investment&.deal&.property&.avatar&.attachment  %>
        <%= image_tag url_for(@investment&.deal&.property&.avatar), alt: "Property Image", class: 'investment-card-image' %>
      <% else %>
        <%= image_tag asset_url('empty_property_image.png'), class: 'investment-card-image' %>
      <% end %>
    </div>
    <div class="row">
      <div class="investment-location-mobile">
        <% if @investment.deal.property %>
          <p>
            <%= @investment&.deal&.property&.address&.line1 %> <%= @investment&.deal&.property&.address&.location %>
          </p>
          <div class="col-xs-6" style="padding-left:0;">
            More Locations
          </div>
          <div class="col-xs-6" style="padding-right:0; text-align: right">
            <a style="text-decoration:none" href="http://maps.google.com/maps?q=<%= @investment&.deal&.property&.address&.line1 %> <%= @investment&.deal&.property&.address&.location %>" target="_blank">
              View Map
            </a>
          </div>
        <% else %>
          <p>
            No Property Information
          </p>
        <% end %>
      </div>
    </div>
    <%= render partial: "details" %>
  </div>
  <div class="investment-tablet-container">
    <div class="row">
      <% if @investment&.deal&.property&.avatar&.attachment  %>
        <%= image_tag url_for(@investment&.deal&.property&.avatar), alt: "Property Image", class: 'investment-card-image' %>
      <% else %>
        <%= image_tag asset_url('empty_property_image.png'), class: 'investment-card-image' %>
      <% end %>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <%= render partial: "details" %>
      </div>
      <div class="col-sm-6" style="margin-top: 2rem">
        <% if @investment.deal.property %>
          <p>
            <%= @investment&.deal&.property&.address&.line1 %> <%= @investment&.deal&.property&.address&.location %>
          </p>
          <div class="col-xs-6" style="padding-left:0;">
            More Locations
          </div>
          <div class="col-xs-6" style="padding-right:0; text-align: right">
            <a style="text-decoration:none" href="http://maps.google.com/maps?q=<%= @investment&.deal&.property&.address&.line1 %> <%= @investment&.deal&.property&.address&.location %>" target="_blank">
              View Map
            </a>
          </div>
        <% else %>
          <p>
            No Property Information
          </p>
        <% end %>
      </div>
    </div>
  </div>
    <div class="investment-desktop-container">
    <div class="row">
      <div class="col-sm-7">
        <% if @investment&.deal&.property&.avatar&.attachment  %>
          <%= image_tag url_for(@investment&.deal&.property&.avatar), alt: "Property Image", class: 'investment-card-image' %>
        <% else %>
          <%= image_tag asset_url('empty_property_image.png'), class: 'investment-card-image' %>
        <% end %>
        <div style="padding: 0 15px;">
          <%= render partial: "details", style: 'padding-left: 15px' %>
        </div>
      </div>
      <div class="col-sm-5">
        <% if @investment.deal.property %>
          <p>
            <%= @investment&.deal&.property&.address&.line1 %> <%= @investment&.deal&.property&.address&.location %>
          </p>
          <div class="col-xs-6" style="padding-left:0;">
            More Locations
          </div>
          <div class="col-xs-6" style="padding-right:0; text-align: right">
            <a style="text-decoration:none" href="http://maps.google.com/maps?q=<%= @investment&.deal&.property&.address&.line1 %> <%= @investment&.deal&.property&.address&.location %>" target="_blank">
              View Map
            </a>
          </div>
        <% else %>
          <p>
            No Property Information
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="py-1">
  <h5>Documents</h5>
  <!--<p class="subtext">Note: for your added privacy, all form links expire after 10 seconds. You may download or print any document for your own personal records.</p>-->
  <div class="table-responsive">
    <table class="table table-bordered">
      <tbody>
        <% @investment.forms.each do |form| %>
          <tr>
            <td><%= form.title %></td>
            <td><%= form.description || "n/a" %></td>
            <td><%= link_to 'Download / View', form.document.url, target: "_blank" %></td>
          </tr>
        <% end %>
        <% if @investment.forms.empty? %>
          <tr style="color:#cccccc;font-size:0.8rem;">
            <td>No documents available</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="py-1">
  <h5>Notes & Updates</h5>
  <div class="table-responsive">
    <table class="table table-bordered">
      <tbody>
        <% @investment.deal.notes.each do |note| %>
          <tr>
            <td><%= note.title %></td>
            <td><%= strip_tags(note.content.truncate(100)) %></td>
            <td><%= note.created_at.to_date.to_formatted_s(:long) %>
            <td><%= link_to 'Read More', note, target: "_blank" %></td>
          </tr>
        <% end %>
        <% if @investment.deal.notes.empty? %>
          <tr style="color:#cccccc;font-size:0.8rem;">
            <td>No recent notes</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>