<h1 class="display-4 dashboard-title"><%= @investment.deal.title %></h1>
<p class="lead my-1">
  <%= @investment.deal.description %>
</p>
<div class="card-deck-wrapper">
  <div class="card-deck">
    <div class="card card-block text-xs-center">
      <h5 class="card-title">Amount Invested</h5>
      <div class="card-text"><%= number_to_currency(@investment.amount_invested, precision: 0) %></div>
    </div>
    <div class="card card-block text-xs-center">
      <h5 class="card-title">Invested On</h5>
      <div class="card-text"><%= @investment.invested_on %></div>
    </div>
    <% @investment.deal.forms.each do |form| %>
    <div class="card card-block text-xs-center">
      <h5 class="card-title"><%= link_to form.title, form_path(form) %></h5>
      <div class="card-text">
      <%= link_to 'Download', form.document.url(:original, false) %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<h4 class="mb-1">Notes</h4>
  <div class="list-group col-xs-6">
  <% @investment.deal.notes.each do |note| %>
    <%= link_to note_path(note), class: "list-group-item list-group-item-action" do %>
    <h5 class="list-group-item-heading"><%= note.title %></h5>
    <h6 class="list-group-item-heading"><%= note.created_at.to_formatted_s(:long_ordinal) %></h6>
    <p class="list-group-item-text"><%= strip_tags(note.content.truncate(100)) %></p>
    <% end %>
  <% end %>
  </div>
