<h5 class="dashboard-title"><%= @investment.deal.title %></h5>
<p class="my-1"><%= @investment.deal.description %></p>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead class="thead-default">
      <tr>
        <th>Amount Invested</th>
        <th>Investing Entity</th>
        <th>Closing Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= number_to_currency(@investment.amount_invested, precision: 2) %></td>
        <td><%= @investment.investing_entity || "n/a" %></td>
        <td><%= @investment.display_date %></td>
      </tr>
    </tbody>
  </table>
</div>

<h5 class="py-1">Documents</h5>
<% if @investment.deal.forms.any? %>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead class="thead-default">
        <tr>
          <th>Form Name</th>
          <th>Description</th>
          <th>Date</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody>
        <% @investment.deal.forms.each do |form| %>
          <tr>
            <td><%= form.title %></td>
            <td><%= form.description %></td>
            <td><%= form.created_at.strftime("%m/%d/%y") %></td>
            <td><%= link_to 'Download / View', form.document.url(:original, false) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p>None</p>
<% end %>

<h5 class="py-1">Notes & Updates</h5>
<% if @investment.deal.notes.any? %>
  <div class="list-group col-xs-12 col-md-6">
    <% @investment.deal.notes.each do |note| %>
      <%= link_to note_path(note), class: "list-group-item list-group-item-action" do %>
      <h5 class="list-group-item-heading"><%= note.title %></h5>
      <h6 class="list-group-item-heading"><%= note.created_at.to_formatted_s(:long_ordinal) %></h6>
      <p class="list-group-item-text"><%= strip_tags(note.content.truncate(100)) %></p>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p>None</p>
<% end %>