<h5 class="dashboard-title"><%= @investment.deal&.property&.name || @investment.deal.title %></h5>
<p class="my-1"><%= @investment.deal.description %></p>
<div class="container">
  <div class="row">
    <% if @investment&.deal&.property&.avatar&.attachment  %>
      <%= image_tag url_for(@investment&.deal&.property&.avatar), alt: "Property Image", class: 'investor-card-image' %>
    <% else %>
      <%= image_tag asset_url('empty_property_image.png'), class: 'investor-card-image' %>
    <% end %>
  </div>
  <div class="row">
    <div>
      <% if @investment.deal.property %>
        <p>
          <%= @investment&.deal&.property&.address&.line1 %> <%= @investment&.deal&.property&.address&.location %>
        </p>
        <div class="col-xs-6" style="padding-left:0;">
          More Locations
        </div>
        <div class="col-xs-6" style="padding-right:0; text-align: right">
          View Map
        </div>
      <% else %>
        <p>
          No Property Information
        </p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <h5 class="dashboard-title">Investment Details</h5>

    <div class="row">
      <div class="col-xs-6">
        Investment Type
      </div>
      <div class="col-xs-6" style="text-align:right; font-weight: bold">
        <%= @investment&.deal&.property&.property_type&.capitalize %>
      </div>
    </div>
    <div class="grey-divider"></div>
    <div class="row">
      <p style="padding-left: 15px; font-weight: bold">
        INVESTOR EQUITY
      </p>
      <% @property_investments.each do |investment| %>
        <div class="col-xs-6">
          <%= investment&.investing_entity&.titleize %>
        </div>
        <div class="col-xs-6" style="text-align:right">
          <%= number_to_currency(investment.amount_invested, precision: 0) %>
        </div>
      <% end %>
      <div class="col-xs-6">
        <b>Total</b>
      </div>
      <div class="col-xs-6" style="text-align:right; font-weight: bold">
        <%= number_to_currency(@property_investments.pluck(:amount_invested).sum, precision: 0) %>
      </div>
    </div>
    <div class="grey-divider"></div>
    <div class="row">
      <p style="padding-left: 15px; font-weight: bold">
        GROSS DISTRIBUTIONS
      </p>
      <div class="col-xs-6">
         <%= @investment&.investing_entity&.titleize %>
      </div>
      <div class="col-xs-6" style="text-align:right">
        <%= number_to_currency(@investment&.deal&.property&.gross_distributions, precision: 0) %>
      </div>
      <div class="col-xs-6">
        <b>Total</b>
      </div>
      <div class="col-xs-6" style="text-align:right; font-weight: bold">
        <%= number_to_currency(@investment&.deal&.property&.gross_distributions, precision: 0) %>
      </div>
    </div>
    <div class="grey-divider"></div>
    <div class="row">
      <p style="padding-left: 15px; font-weight: bold">
        CAPITAL OUTSTANDING
      </p>
      <% @property_investments.each do |investment| %>
        <div class="col-xs-6">
          <%= investment&.investing_entity&.titleize %>
        </div>
        <div class="col-xs-6" style="text-align:right">
          <%= number_to_currency((investment.amount_invested.to_i - @investment&.deal&.property&.gross_distributions.to_i), precision: 0) %>
        </div>
      <% end %>
      <div class="col-xs-6">
        <b>Total</b>
      </div>
      <div class="col-xs-6" style="text-align:right; font-weight: bold">
        <%= number_to_currency((@property_investments.pluck(:amount_invested).sum - @investment&.deal&.property&.gross_distributions.to_i), precision: 0) %>
      </div>
    </div>
  </div>
  <div class="row">
    <h5 class="dashboard-title">Investment Summary</h5>
    <p>
      Investment Summary will go here
    </p>
  </div>
</div>

<div class="py-1">
  <h5>Documents</h5>
  <!--<p class="subtext">Note: for your added privacy, all form links expire after 10 seconds. You may download or print any document for your own personal records.</p>-->
  <div class="table-responsive">
    <table class="table table-bordered">
      <tbody>
        <% @investment.forms.each do |form| %>
          <tr>
            <td><%= form.title %></td>
            <td><%= form.description || "n/a" %></td>
            <td><%= link_to 'Download / View', form.document.url, target: "_blank" %></td>
          </tr>
        <% end %>
        <% if @investment.forms.empty? %>
          <tr style="color:#cccccc;font-size:0.8rem;">
            <td>No documents available</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="py-1">
  <h5>Notes & Updates</h5>
  <div class="table-responsive">
    <table class="table table-bordered">
      <tbody>
        <% @investment.deal.notes.each do |note| %>
          <tr>
            <td><%= note.title %></td>
            <td><%= strip_tags(note.content.truncate(100)) %></td>
            <td><%= note.created_at.to_date.to_formatted_s(:long) %>
            <td><%= link_to 'Read More', note, target: "_blank" %></td>
          </tr>
        <% end %>
        <% if @investment.deal.notes.empty? %>
          <tr style="color:#cccccc;font-size:0.8rem;">
            <td>No recent notes</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>