<h1 class="display-4 dashboard-title"><%= @investment.deal.title %></h1>
<p class="lead my-1">
  <%= @investment.deal.description %>
</p>
<div class="table-responsive">

<table class="table">
  <thead>
    <tr>
      <th class="text-xs-center">Amount Invested</th>
      <th class="text-xs-center">Invested On</th>
      <% if @investment.investing_entity %>
        <th class="text-xs-center">Investing Entity</th>
      <% end %>
      <% @investment.deal.forms.each do |form| %>
        <th class="text-xs-center">
          <%= link_to form.title, form_path(form) %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-xs-center"><%= number_to_currency(@investment.amount_invested, precision: 0) %></td>
      <td class="text-xs-center"><%= @investment.invested_on %></td>
      <% if @investment.investing_entity %>
      <td class="text-xs-center"><%= @investment.investing_entity %></td>
      <% end %>
      <% @investment.deal.forms.each do |form| %>
        <td class="text-xs-center">
          <%= link_to 'Download', form.document.url(:original, false) %>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>
</div>
<% unless @investment.deal.notes.empty? %>
  <h4 class="mb-1">Notes</h4>
    <div class="list-group col-xs-12 col-md-6">
    <% @investment.deal.notes.each do |note| %>
      <%= link_to note_path(note), class: "list-group-item list-group-item-action" do %>
      <h5 class="list-group-item-heading"><%= note.title %></h5>
      <h6 class="list-group-item-heading"><%= note.created_at.to_formatted_s(:long_ordinal) %></h6>
      <p class="list-group-item-text"><%= strip_tags(note.content.truncate(100)) %></p>
      <% end %>
    <% end %>
    </div>
<% end %>
