<h5 class="dashboard-title" style="font-weight: bolder;"><%= @investment.deal&.property&.nickname %></h5>
<div class="container">
  <div class="investment-mobile-container">
    <div class="row">
      <% if @investment&.deal&.property&.avatar.attached? %>
        <%= image_tag url_for(@investment&.deal&.property&.avatar), alt: "Property Image", class: 'investment-card-image' %>
      <% else %>
        <%= image_tag asset_url('empty_property_image.png'), class: 'investment-card-image' %>
      <% end %>
    </div>
    <div class="row">
      <div class="investment-location-mobile">
        <h5 class="show-investment-card-title">Locations</h5>
        <% if @investment.deal.property %>
          <p>
            <%= @investment&.deal&.property&.address&.line1 %> <%= @investment&.deal&.property&.address&.location %>
          </p>
          <div class="col-xs-6" style="padding-left:0;">
            More Locations
          </div>
          <div class="col-xs-6" style="padding-right:0; text-align: right">
            <a style="text-decoration:none" href="http://maps.google.com/maps?q=<%= @investment&.deal&.property&.address&.line1 %> <%= @investment&.deal&.property&.address&.location %>" target="_blank">
              View Map
            </a>
          </div>
        <% else %>
          <p>
            No Property Information
          </p>
        <% end %>
      </div>
    </div>
    <%= render partial: "details" %>
  </div>

  <!-- HERE FORWARD IS TABLET VIEW -->
  <!-- =========================== -->
  <!-- =========================== -->
  <!-- =========================== -->

  <div class="investment-tablet-container">
    <div class="row">
      <% if @investment&.deal&.property&.avatar&.attachment  %>
        <%= image_tag url_for(@investment&.deal&.property&.avatar), alt: "Property Image", class: 'investment-card-image' %>
      <% else %>
        <%= image_tag asset_url('empty_property_image.png'), class: 'investment-card-image' %>
      <% end %>
    </div>
    <div class="row">
      <div class="col-sm-7">
        <%= render partial: "details" %>
      </div>
      <div class="col-sm-5 card location-container">
        <% if @investment.deal.property %>
          <h5 class="show-investment-card-title">Locations</h5>
          <p>
            <%= @investment&.deal&.property&.address&.line1 %> <%= @investment&.deal&.property&.address&.location %>
          </p>
          <div class="col-xs-6" style="padding-left:0;">
            More Locations
          </div>
          <div class="col-xs-6" style="padding-right:0; text-align: right">
            <a style="text-decoration:none" href="http://maps.google.com/maps?q=<%= @investment&.deal&.property&.address&.line1 %> <%= @investment&.deal&.property&.address&.location %>" target="_blank">
              View Map
            </a>
          </div>
        <% else %>
          <p>
            No Property Information
          </p>
        <% end %>
      </div>
      <div class="col-sm-5 card investor-card-container info-cards">
        <h5 class="show-investment-card-title">Documents</h5>
        <div class="investment-divider"></div>
        <div class="documents-list">
          <% @investment.forms.each do |form| %>
              <p class="investment-property-address document-download"><i class="far fa-file" style="margin-right: 10px"></i><%= link_to form.title, form.document.url, target: "_blank" %></p>
          <% end %>
          <% if @investment.forms.empty? %>
            <tr style="color:#cccccc;font-size:0.8rem;">
              <td>No documents available</td>
            </tr>
          <% end %>
        </div>
        <div class="investment-divider"></div>
        <div class="investment-property-address" style="padding:15px; text-align: right">
          <a style="text-decoration:none" href="http://maps.google.com/maps?q=<%= @investment&.deal&.property&.address&.line1 %> <%= @investment&.deal&.property&.address&.location %>" target="_blank">
            Download All
          </a>
        </div>
      </div>

      <div class="col-sm-5 card investor-card-container info-cards">
        <h5 class="show-investment-card-title">Notes & Updates</h5>
        <div class="investment-divider" style="margin-bottom: 10px"></div>
        <% @investment.deal.notes.each do |note| %>

          <div class='note-container'>
            <div style="font-weight: bolder; font-size: 0.8em; margin-bottom: 10px"><%= note.title %> <span style="font-weight:lighter; float: right; font-size: 0.9em"><%= note.created_at.to_date.to_formatted_s(:long) %></span></div>
            <div style="font-size: 0.8em; margin-bottom: 5px"><%= strip_tags(note.content.truncate(100)) %></div>
            <div style="font-size: 0.7em"><%= link_to 'Read More', note, target: "_blank" %></div>
          </div>

        <% end %>
        <% if @investment.deal.notes.empty? %>
            <div class="investment-property-address" style="text-align: center; padding: 15px; color: #ccc">No recent notes</div>
        <% end %>
      </div>
    </div>
  </div>

  <!-- HERE FORWARD IS DESKTOP VIEW -->
  <!-- =========================== -->
  <!-- =========================== -->
  <!-- =========================== -->

  <div class="investment-desktop-container">
    <div class="row">
      <div class="col-sm-7">
        <% if @investment&.deal&.property&.avatar&.attachment  %>
          <%= image_tag url_for(@investment&.deal&.property&.avatar), alt: "Property Image", class: 'investment-card-image' %>
        <% else %>
          <%= image_tag asset_url('empty_property_image.png'), class: 'investment-card-image' %>
        <% end %>
            <%= render partial: "details" %>
      </div>
      <div  class="col-sm-4" style="display: flex; flex-direction: column;">
        <div class="card investor-card-container info-cards">
          <h5 class="show-investment-card-title">Locations</h5>
          <div class="investment-divider"></div>
          <% if @investment.deal.property %>
            <p class='investment-property-address' style="padding: 15px; margin-bottom: 0">
              <i class="fas fa-map-marker-alt" style="margin-right: 5px"></i> <%= @investment&.deal&.property&.address&.line1 %>, <%= @investment&.deal&.property&.address&.location %>
            </p>
            <div class="investment-divider"></div>
            <div class="investment-property-address" style="padding:15px; text-align: right">
              <a style="text-decoration:none" href="http://maps.google.com/maps?q=<%= @investment&.deal&.property&.address&.line1 %> <%= @investment&.deal&.property&.address&.location %>" target="_blank">
                View Map
              </a>
            </div>
          <% else %>
            <p>
              No Property Information
            </p>
          <% end %>
        </div>

        <div class="card investor-card-container info-cards">
          <h5 class="show-investment-card-title">Documents</h5>
          <div class="investment-divider"></div>
          <div class="documents-list">
            <% @investment.forms.each do |form| %>
                <p class="investment-property-address document-download"><i class="far fa-file" style="margin-right: 10px"></i><%= link_to form.title, form.document.url, target: "_blank" %></p>
            <% end %>
            <% if @investment.forms.empty? %>
              <tr style="color:#cccccc;font-size:0.8rem;">
                <td>No documents available</td>
              </tr>
            <% end %>
          </div>
          <div class="investment-divider"></div>
          <div class="investment-property-address" style="padding:15px; text-align: right">
              <a style="text-decoration:none" href="http://maps.google.com/maps?q=<%= @investment&.deal&.property&.address&.line1 %> <%= @investment&.deal&.property&.address&.location %>" target="_blank">
                Download All
              </a>
            </div>
        </div>

        <div class="card investor-card-container info-cards">
          <h5 class="show-investment-card-title">Notes & Updates</h5>
          <div class="investment-divider" style="margin-bottom: 10px"></div>
          <% @investment.deal.notes.each do |note| %>

            <div class='note-container'>
              <div style="font-weight: bolder; font-size: 0.8em; margin-bottom: 10px"><%= note.title %> <span style="font-weight:lighter; float: right; font-size: 0.9em"><%= note.created_at.to_date.to_formatted_s(:long) %></span></div>
              <div style="font-size: 0.8em; margin-bottom: 5px"><%= strip_tags(note.content.truncate(100)) %></div>
              <div style="font-size: 0.7em"><%= link_to 'Read More', note, target: "_blank" %></div>
            </div>

          <% end %>
          <% if @investment.deal.notes.empty? %>
              <div class="investment-property-address" style="text-align: center; padding: 15px; color: #ccc">No recent notes</div>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  
</div>
