<div class="container">
  <div class="card" style="width: 40rem; max-width:100%; margin:30px auto;">
    <div class="card-header">
      Account Info
    </div>
    <div class="card-block">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.hidden_field :password, autocomplete: "off" %>
        <%= f.hidden_field :password_confirmation, autocomplete: "off" %>
        <%= f.hidden_field :current_password, autocomplete: "off" %>
        <%= devise_error_messages! %>
        <div class="form-group row">
          <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">First Name</label>
          <div class="col-sm-10">
            <%= f.text_field :first_name, autofocus: true, class: "form-control form-control-sm" %>
          </div>
        </div>
        <div class="form-group row">
          <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Last Name</label>
          <div class="col-sm-10">
            <%= f.text_field :last_name, autofocus: true, class: "form-control form-control-sm" %>
          </div>
        </div>
        <div class="form-group row">
          <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Phone</label>
          <div class="col-sm-10">
            <%= f.text_field :phone, class: "form-control form-control-sm", maxlength: "13", minlength: "9", pattern: "[0-9]+" %>
          </div>
        </div>
        <div class="form-group row">
          <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Address</label>
          <div class="col-sm-10">
            <%= f.text_field :address_1, class: "form-control form-control-sm" %>
          </div>
        </div>
        <div class="form-group row">
          <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Address 2</label>
          <div class="col-sm-10">
            <%= f.text_field :address_2, class: "form-control form-control-sm" %>
          </div>
        </div>
        <div class="form-group row">
          <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">City</label>
          <div class="col-sm-10">
            <%= f.text_field :city, class: "form-control form-control-sm" %>
          </div>
        </div>
        <div class="form-group row">
          <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">State</label>
          <div class="col-sm-10">
            <%= f.text_field :state, class: "form-control form-control-sm" %>
          </div>
        </div>
        <div class="form-group row">
          <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Country</label>
          <div class="col-sm-10">
            <%= f.text_field :country, class: "form-control form-control-sm" %>
          </div>
        </div>
        <div class="form-group row">
          <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Zip Code</label>
          <div class="col-sm-10">
            <%= f.text_field :zip_code, class: "form-control form-control-sm" %>
          </div>
        </div>
        <div class="form-group row">
          <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Email</label>
          <div class="col-sm-10">
            <%= f.email_field :email, autofocus: true, class: "form-control form-control-sm" %>
          </div>
        </div>
        <div class="form-group row">
          <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Alt. Email</label>
          <div class="col-sm-10">
            <%= f.email_field :email_2, autofocus: true, class: "form-control form-control-sm" %>
          </div>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently awaiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="actions">
          <%= f.submit "Update", class: "btn btn-primary my-1" %>
        </div>
      <% end %>
    </div>
    <div class="card-footer">
      <%= link_to "Change your password", u_edit_password_path %>
    </div>
  </div>
</div>