<!-- <h5 class="dashboard-title">Your Dashboard</h5> -->
<h5 class="dashboard-title" style="font-size: 1.75rem">Investments (<%= @property_count %>  <%= @status.capitalize %>) 
  <span class='form-container status-dropdown closing-date-dropdown'>	
    Closing Date:
    <%= form_tag(user_path, :method => "get") do %>	
      <%= hidden_field_tag :status, @status%>
      <%= select_tag :order, options_for_select([['Newest to Oldest', 'desc'], ['Oldest to Newest', 'asc']], @order), {:onchange => "this.form.submit();", :class => "form-group"} %>	
    <% end %>	
    Status: 
    <%= form_tag(user_path, :method => "get") do %>	
      <%= hidden_field_tag :order, @order%>
      <%= select_tag :status, options_for_select([['Active', 'active'], ['Sold', 'sold'], ['Offering', 'open'], ['All Statuses', 'all']], @status), {:onchange => "this.form.submit();", :class => "form-group"} %>	
    <% end %>	
  </span>
</h5>

	<div class="row xs-row">
    <% if @property_ids %>
      <% @property_ids.each do |prop_id| %>
        <div class="col-lg-4 col-md-6" >
          <div class="card investor-card-container">
             <% if @investments[prop_id][:property_img].attached? && !Rails.env.development? %>
              <div onclick="location.href='/investments/<%= @investments[prop_id][:investment_id] %>'" style="background-image: url(<%= rails_blob_url(@investments[prop_id][:property_img]) %>); background-repeat: no-repeat; background-position: top; background-size: cover; height: 300px; border-radius: .25rem .25rem 0 0; cursor:pointer"></div>
            <% else %>
              <div onclick="location.href='/investments/<%= @investments[prop_id][:investment_id] %>'" style="background-image: url('/empty_property_image.png'); background-repeat: no-repeat; background-position: top; background-size: cover; height: 300px; border-radius: .25rem .25rem 0 0; cursor:pointer"></div>
            <% end %>
            <div class='card-padding investor-card-address'>
              <% if @investments[prop_id] %>
                <div class="investor-card-name">
                  <%= link_to "#{@investments[prop_id][:property_nickname]}", investment_path(@investments[prop_id][:investment_id]) %>
                </div>
                <%if @investments[prop_id][:address]%>
                <p class="investment-property-address">
                  <i class="fas fa-map-marker-alt" style="margin-right: 5px"></i> <%= @investments[prop_id][:address] %>
                </p>
                <% end %>
              <% else %>
                <p>
                  No Property Information
                </p>
              <% end %>
            </div>
            <div class="grey-divider"></div>
            <div class='card-padding'>
              <div class="row" style="padding-top: 8px; font-size: small">
                <div class="col-xs-6">
                  <p>
                    Investment Type
                    <br>
                    Closing Date
                    <br>
                    Investor Equity
                    <br>
                    Gross Distributions
                    <br>
                    Status
                  </p>
                </div>
                <div class="col-xs-6">
                  <p class="text-right" style="font-weight: bold; text-align: right">
                    <%= @investments[prop_id][:type] %>
                    <br>
                    <%= @investments[prop_id][:closing_date] %>
                    <br>
                    <%= number_to_currency(@investments[prop_id][:investor_equity], precision: 2) %>
                    <br>
                    <%= number_to_currency(@investments[prop_id][:gross_distribution], precision: 2) %>
                    <br>
                    <%= @investments[prop_id][:status].capitalize %>
                  </p>
                </div>
              </div>
              <div>
                <form action="<%= investment_path(@investments[prop_id][:investment_id]) %>">
                  <button class="btn btn-primary investment-button" type="submit">View Details</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      <% end %> 
    </div> 
    <% else %>
      <p>
        No investments
      </p>
    <% end %>
	</div>

<script>
  $(document).ready(function() {
    $('#sortable-table').DataTable({
      "paging": false,
      "info": false,
      "order": [[3, "desc"]]
    });
  });
</script>