<!-- <h5 class="dashboard-title">Your Dashboard</h5> -->
<h5 class="dashboard-title" style="font-size: 1.75rem">Investments</h5>

	<div class="row xs-row">
    <% if @investments %>
      <% @investments.each do |investment| %>
        <div class="col-lg-4 col-md-6" >
          <div class="card investor-card-container">
             <% if investment&.deal&.property&.avatar&.attached? && !Rails.env.development? %>
              <div style="background-image: url(<%= rails_blob_url(investment&.deal&.property&.avatar) %>); background-repeat: no-repeat; background-position: top; background-size: cover; height: 300px; border-radius: .25rem .25rem 0 0"></div>
            <% else %>
              <div style="background-image: url('/empty_property_image.png'); background-repeat: no-repeat; background-position: top; background-size: cover; height: 300px; border-radius: .25rem .25rem 0 0"></div>
            <% end %>
            <div class='card-padding investor-card-address'>
              <% if investment.deal.property %>
                <div class="investor-card-name">
                  <%= link_to "#{investment&.deal&.property&.nickname}", investment_path(investment.id) %>
                </div>
                <%if investment&.deal&.property&.address%>
                <p class="investment-property-address">
                  <i class="fas fa-map-marker-alt" style="margin-right: 5px"></i> <%= investment&.deal&.property&.address&.line1 %>, <%= investment&.deal&.property&.address&.location %>
                </p>
                <% end %>
              <% else %>
                <p>
                  No Property Information
                </p>
              <% end %>
            </div>
            <div class="grey-divider"></div>
            <div class='card-padding'>
              <div class="row" style="padding-top: 8px; font-size: small">
                <div class="col-xs-6">
                  <p>
                    Investment Type
                    <br>
                    Investor Equity
                    <br>
                    Gross Distributions
                  </p>
                </div>
                <div class="col-xs-6">
                  <p class="text-right" style="font-weight: bold; text-align: right">
                    <%= investment&.deal&.property&.property_type&.humanize&.titleize %>
                    <br>
                    <%= number_to_currency(investment.amount_invested, precision: 0) %>
                    <br>
                    <% if investment&.deal&.property&.gross_distributions&.blank? %>
                      <%= number_to_currency(investment&.gross_distribution, precision: 0) %>
                    <% else %>
                      $0.00
                    <% end %>
                  </p>
                </div>
              </div>
              <div>
                <form action="<%= investment_path(investment.id) %>">
                  <button class="btn btn-primary investment-button" type="submit">View Details</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      <% end %> 
    </div> 
    <% else %>
      <p>
        No investments
      </p>
    <% end %>
	</div>

<script>
  $(document).ready(function() {
    $('#sortable-table').DataTable({
      "paging": false,
      "info": false,
      "order": [[3, "desc"]]
    });
  });
</script>