<h1 class="display-4 dashboard-title">Your Dashboard</h1>

<div class="card-deck-wrapper">
  <div class="card-deck">
    <div class="card card-block text-xs-center">
      <h4 class="card-title">Number of Investments</h4>
      <h2 class="card-text"><%= @user.investments.count %></h2>
    </div>
    <div class="card card-block text-xs-center">
      <h4 class="card-title">Total Amount Invested</h4>
      <h2 class="card-text"><%= number_to_currency(@user.total_invested, precision: 0) %></h2>
    </div>
  </div>
</div>

<h4 class="py-1">Investments</h4>
<% if @user.investments.empty? == false %>
<table class="table table-hover">
<thead class="thead-inverse">
  <th>
    Deal
  </th>
  <th>
    Amount Invested
  </th>
  <th>
    Date Invested
  </th>
</thead>
<tbody>
  <% @user.investments_sorted_by_date.each do |investment| %>
    <tr>
    <td>
      <%= link_to investment.deal.title, investment_path(investment) %>
    </td>
    <td>
      <%= number_to_currency(investment.amount_invested, precision: 0) %>
    </td>
    <td>
      <%= investment.invested_on.to_formatted_s(:long) %>
    </td>
</tbody>

  <% end %>
</table>
<% else %>
  No investments available for viewing.
<% end %>
