<!-- <h5 class="dashboard-title">Your Dashboard</h5> -->
<h5 class="dashboard-title">Investments</h5>

	<div class="row xs-row">
    <% if @investments %>
      <% @investments.each do |investment| %>
        <div class="col-lg-4 col-md-6" >
          <div class="card investor-card-container">
             <% if investment&.deal&.property&.avatar&.attached? %>
              <div style="background-image: url(<%= rails_blob_url(investment&.deal&.property&.avatar) %>); background-repeat: no-repeat; background-position: top; background-size: cover; height: 300px; border-radius: .25rem .25rem 0 0"></div>
            <% else %>
              <div style="background-image: url('/empty_property_image.png'); background-repeat: no-repeat; background-position: top; background-size: cover; height: 300px; border-radius: .25rem .25rem 0 0"></div>
            <% end %>
            <div class='card-padding investor-card-address'>
              <% if investment.deal.property %>
                <div class="investor-card-name">
                  <%= link_to "#{investment&.deal&.property&.nickname}", investment_path(investment.id) %>
                </div>
                <%if investment&.deal&.property&.address%>
                <p class="investment-property-address">
                  <i class="fas fa-map-marker-alt" style="margin-right: 5px"></i> <%= investment&.deal&.property&.address&.line1 %>, <%= investment&.deal&.property&.address&.location %>
                </p>
                <% end %>
              <% else %>
                <p>
                  No Property Information
                </p>
              <% end %>
            </div>
            <div class="grey-divider"></div>
            <div class='card-padding'>
              <div class="row" style="padding-top: 8px; font-size: small">
                <div class="col-xs-6">
                  <p>
                    Investment Type
                    <br>
                    Investor Equity
                    <br>
                    Gross Distributions
                  </p>
                </div>
                <div class="col-xs-6">
                  <p class="text-right" style="font-weight: bold; text-align: right">
                    <%= investment&.deal&.property&.property_type&.humanize&.titleize %>
                    <br>
                    <%= number_to_currency(investment.amount_invested, precision: 0) %>
                    <br>
                    <% if investment&.deal&.property&.gross_distributions&.blank? %>
                      <%= number_to_currency(investment&.gross_distribution, precision: 0) %>
                    <% else %>
                      $0.00
                    <% end %>
                  </p>
                </div>
              </div>
              <div>
                <form action="<%= investment_path(investment.id) %>">
                  <button class="btn btn-primary investment-button" type="submit">View Details</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      <% end %> 
    </div> 
    <% else %>
      <p>
        No investments
      </p>
    <% end %>
	</div>

<!-- <% if @user.approved? %>
  <hr/>
  <% if @user.investments.active.any? %>
    <div class="table-responsive">
      <table class="table table-hover table-bordered" id="sortable-table" cellspacing="0" width="100%">
        <thead class="thead-default">
          <tr>
            <th>Investment</th>
            <th>Amount Invested</th>
            <th>Investing Entity</th>
            <th>Closing Date</th>
          </tr>
        </thead>
        <tbody>
          <% @user.investments.active.each do |investment| %>
            <tr>
              <td><%= link_to investment.deal.title, investment_path(investment) %></td>
              <td><%= humanized_money_with_symbol investment.amount %></td>
              <td><%= investment.investing_entity %></td>
              <td><%= investment.display_date %></td>
            </tr>
          <% end %>
      </tbody>
      </table>
    </div>
  <% else %>
    <p>None</p>
  <% end %>

  <% if @notes.any? %>
    <h4 class="mb-1">Latest Updates</h4>
    <div class="list-group col-xs-12 col-md-6">
    <% @notes.each do |note| %>
      <%= link_to note_path(note), class: "list-group-item list-group-item-action" do %>
        <h5 class="list-group-item-heading"><%= note.title %></h5>
        <h6 class="list-group-item-heading"><%= note.created_at.to_formatted_s(:long_ordinal) %></h6>
        <p class="list-group-item-text"><%= strip_tags(note.content.truncate(100)) %></p>
        <% end %>
    <% end %>
    </div>
  <% end %>

<% else %>
  <p>Thank you for registering for the Investor Portal!</p>
  <p>Your account is currently under review. We will send you an email with more information once your account is approved.</p>
<% end %> -->

<script>
  $(document).ready(function() {
    $('#sortable-table').DataTable({
      "paging": false,
      "info": false,
      "order": [[3, "desc"]]
    });
  });
</script>