<div class="modal fade" id="property-form-modal" tabindex="-1" role="dialog" aria-labelledby="propertyForm" aria-hidden="true">
  <div class="modal-dialog" style="top: 100px" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="propertyForm"><% if @property.name %>Edit <%= @property.name %><% else %>New Property<% end %></h5>
      </div>
      <div class="modal-body">
        <%= form_for @property do |f| %>

          <fieldset class="form-group">
            <label>Property Legal Name<span style="color:red">*</span></label>
            <%= f.text_field :name, value: @property.name, required: true %>
          </fieldset>

          <fieldset class="form-group">
            <label>Closing Date</label>
            <%= f.date_field :closing_date, value: @property.closing_date&.strftime('%Y-%m-%d') %>
          </fieldset>

          <fieldset class="form-group">
            <label>Sale Date</label>
            <%= f.date_field :sale_date, value: @property.sale_date&.strftime('%Y-%m-%d') %>
          </fieldset>

          <fieldset class="form-group">
            <label>Address<span style="color:red">*</span></label>
            <%= f.text_field :line1, value: @property&.address&.line1, required: true %>
          </fieldset>

          <fieldset class="form-group">
            <label>City<span style="color:red">*</span></label>
            <%= f.text_field :city, value: @property&.address&.city, required: true %>
          </fieldset>

          <fieldset class="form-group">
            <label>State<span style="color:red">*</span></label>
            <%= f.text_field :state, value: @property&.address&.state, required: true %>
          </fieldset>

          <fieldset class="form-group">
            <label>Zip Code<span style="color:red">*</span></label>
            <%= f.text_field :zip, value: @property&.address&.zip, required: true %>
          </fieldset>

          <fieldset class="form-group">
            <label>Property Type<span style="color:red">*</span></label>
            <%= f.select :property_type, Property::PROPERTY_TYPE_OPTIONS.keys.to_a.map { |s| [s.to_s.humanize, s] }, prompt: "Select Type", required: true %>
          </fieldset>
          
          <fieldset class="form-group">
            <label>Gross Distributions</label>
            <%= f.text_field :gross_distributions, value: @property&.gross_distributions %>
          </fieldset>
          
          <fieldset class="form-group">
            <label>Internal Rate of Return</label>
            <%= f.text_field :internal_rate_of_return, value: @property&.internal_rate_of_return %>
          </fieldset>
          
          <fieldset class="form-group">
            <label>Equity Multiple</label>
            <%= f.text_field :equity_multiple, value: @property&.equity_multiple %>
          </fieldset>
          
          <fieldset class="form-group">
            <label>Status<span style="color:red">*</span></label>
            <%= f.select :status, options_for_select([['Active', 'active'], ['Sold', 'sold']], @property&.status), {:class => "form-group", required: true} %>
          </fieldset>
         
          <fieldset class="form-group">
            <label>Property Image</label>
            <br>
            <% if @property&.avatar&.attachment  %>
              <%= image_tag url_for(@property.avatar), alt: "Property Image", style: 'width: 100%; height: 100%' %>
            <% end %>
            <%= f.file_field :avatar %>
          </fieldset>
          <%= f.submit class: "btn btn-primary", disabled: "disabled", id: "submit" %>

        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="investor-import-modal" tabindex="-1" role="dialog" aria-labelledby="importForm" aria-hidden="true">
  <div class="modal-dialog" style="top: 100px" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="importForm">Upload Investments for <%= @property.name %></h5>
      </div>
      <div class="modal-body">
          <%= form_tag investor_import_path, multipart: true do %>
            <%= hidden_field_tag 'id', @property.id %>
            <fieldset class="form-group">
              <label>Upload investors</label>
              <%= file_field_tag :file %>
            </fieldset>
            <div class="spacer -space-16"></div>
            <%= submit_tag "Import", class: 'button -right' %>
            <br>
            <br>
            <a href="https://s3-us-west-2.amazonaws.com/shopgenius-assets/Investment+Import.csv" target="_blank">Download CSV Template</a>
          <% end %>
      </div>
    </div>
  </div>
</div>

<script>

  $('input[required]').on('change', function() {
      console.log('here');
      
      var empty = false;
      $('input[required]').each(function() {
          if ($(this).val() == '') {
              empty = true;
          }
      });

      if (empty) {
          $('#submit').attr('disabled', 'disabled');
      } else {
          $('#submit').removeAttr('disabled');
      }
  });

  $(document).ready(function(){
    var preview = $(".upload-preview img");

    $(".file").change(function(event){
       var input = $(event.currentTarget);
       var file = input[0].files[0];
       var reader = new FileReader();
       reader.onload = function(e){
           image_base64 = e.target.result;
           preview.attr("src", image_base64);
       };
       reader.readAsDataURL(file);
    });

      var empty = false;
      $('input[required]').each(function() {
          if ($(this).val() == '') {
              empty = true;
          }
      });

      if (empty) {
          $('#submit').attr('disabled', 'disabled');
      } else {
          $('#submit').removeAttr('disabled');
      }
  });
</script>