<div class="container">
  <h5 class="dashboard-title">Map Investment Data</h5>
  <p>
    Map the Investment column names to the CSV Column headers
  </p>
  <%= form_for(@investment, :as => :post, :url => investor_import_path) do |f| %>
    <%= hidden_field_tag 'investment_file', @investment_file %>
    <%= hidden_field_tag 'property_id', @property_id %>
    <% @investment_fields.each do |field| %>
      <fieldset class="form-group">
        <label><%= field.titleize %></label>
        <%= f.select field.to_sym, options_for_select(@headers), {:class => "form-group"} %>
      </fieldset>
    <% end %>
    <div class="spacer -space-16"></div>
    <%= submit_tag "Import", class: 'button -right' %>
  <% end %>
</div>