<div class="container">
  <h5 class="dashboard-title">Map Distribution Data</h5>
  <p>
    Map the Distribution column names to the CSV Column headers
  </p>
  <%= form_for(@gross_distribution, :as => :post, :url => gross_distributions_import_path) do |f| %>
    <%= hidden_field_tag 'import_file', @import_file %>
    <%= hidden_field_tag 'property_id', @property_id %>
    <% @import_fields.each do |field| %>
      <div class="row">
        <fieldset class="form-group">
          <label class="col-sm-3" style="font-weight: bold"><%= field.titleize %></label>
          <%= f.select field.to_sym, options_for_select(@headers), {:class => "form-group col-sm-3"} %>
        </fieldset>
      </div>
    <% end %>
    <div class="spacer -space-16"></div>
    <%= submit_tag "Import", class: 'button -right' %>
  <% end %>
</div>