<%= render partial: "modal_form" %>
<div class='table-page-header'>
  <h3 class="dashboard-title">Properties (<%= @properties.count %> <%= @status.capitalize %>)
		<span>
		  <% if @master_admin %>
				<button type="button" data-toggle="modal" data-target="#property-form-modal" class="table-button"> Add Property</button>
			<% end %>
			<span class='form-container status-dropdown'>	
				<%= form_tag(properties_path, :method => "get", id: "search-form") do %>	
					<%= select_tag :status, options_for_select([['Active', 'active'], ['Sold', 'sold'], ['Offering', 'open'], ['All Statuses', 'all']], @status), {:onchange => "this.form.submit();", :class => "form-group"} %>	
				<% end %>	
			</span>
		</span>
	</h3>
</div>


<div class="table-responsive investor-table-container" style="margin-top: 60px">
	<table class="display investor-table"id="sortable-property-table" cellspacing="0" width="100%">
		<thead class="thead-default">
			<tr>
				<th>Property Name</th>
				<th>City</th>
				<th>State</th>
				<th>Investor Equity</th>
				<th>Gross Distribution</th>
				<th>Property Type</th>
				<th>Closing Date</th>
				<th>Sale Date</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<% @properties.each do |prop| %>
				<tr>
					<td><%= link_to prop&.list_name&.strip, property_path(prop.id) %></td>
					<td><%= prop&.address&.city %></td>
					<td><%= prop&.address&.state %></td>
					<td><%= number_to_currency(prop&.deal_equity, precision: 2) %></td>
					<td><%= number_to_currency(prop.total_investor_gross_distributions_amount, precision: 2) || 'N/A' %></td>
					<td><%= prop&.property_type&.humanize&.titleize %></td>
					<td data-sort="<%= prop&.closing_date&.strftime("%Y/%m/%d") %>"><%= prop&.closing_date&.strftime("%m/%d/%Y") %></td>
					<td><%= prop&.sale_date&.strftime("%m/%d/%Y") %></td>
					<td><% if prop&.status == 'open' %> Offering <% else %><%= prop&.status&.capitalize %><% end %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

<script>
  $(document).ready(function() {
    $('#sortable-property-table').DataTable({
      "paging": true,
      "info": false,
			"order": [[3, "desc"]],
			"columnDefs": [{ "searchable": false, "targets": [1,2,3,4,5,6,7] }],
			"language": {
				"zeroRecords": "There are no properties that match your search.",
				searchPlaceholder: "🔍  Property Name",
				search: "",
			}
		});

		$('#search-form').keydown(function(event) {
			if (event.keyCode == 13) {
				$('#search-form').submit();
				return false
			}
		});
	});
</script>