<%= render partial: "open_property_modal", open_property: @open_property %>

<h5 class="dashboard-title" style="font-weight: bolder;"><%= @open_property&.nickname %></h5>
<div class="container">
  <div class="investment-mobile-container">
    <div class="row">
      <% if @open_property&.avatar&.attached? && !Rails.env.development? %>
        <div style="background-image: url(<%= rails_blob_url(@open_property&.avatar) %>); background-repeat: no-repeat; background-position: top; background-size: cover; height: 400px; border-radius: .25rem; margin-bottom: 24px"></div>
      <% else %>
        <div style="background-image: url('/empty_property_image.png'); background-repeat: no-repeat; background-position: top; background-size: cover; height: 400px; border-radius: .25rem; margin-bottom: 24px"></div>
      <% end %>
    </div>
    <div class="row">
      <div class="card location-container" style="padding-bottom: 10px">
        <h5 class="show-investment-card-title">Locations</h5>
        <% if @open_property %>
          <a class='investment-property-address' style="padding-bottom: 15px; color: inherit"  href="http://maps.google.com/maps?q=<%= @open_property&.address&.line1 %> <%= @open_property&.address&.location %>" target="_blank">
            <i class="fas fa-map-marker-alt" style="margin-right: 5px"></i> <%= @open_property&.address&.line1 %>, <%= @open_property&.address&.location %>
          </a>
        <% else %>
          <p>
            No Property Information
          </p>
        <% end %>
      </div>
    </div>

    <div class="card investor-card-container info-cards">
      <h5 class="show-investment-card-title">Documents</h5>
        <div class="form-table-container table-bordered">
          <% if !@open_property.forms.empty? %>
            <table class="form-table">
              <% @open_property&.forms.order(:sort).each do |form| %>
                <% if form.document.attached? %>
                  <tr>
                    <td class="form-title">
                      <%= form.title %>
                    </td>
                    <td>
                      <%= link_to "Download/View", rails_blob_path(form&.document, disposition: 'attachment') %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </table>            
          <% else %>
            <div class="investment-property-address" style="text-align: center; padding: 15px; color: #ccc">No Documents</div>
          <% end %>
        </div>
    </div>

    <div class="card investor-card-container info-cards">
      <h5 class="show-investment-card-title">Notes & Updates</h5>
      <div class="investment-divider" style="margin-bottom: 10px"></div>
      <% @open_property.notes.each do |note| %>

        <div class='note-container'>
          <div style="font-weight: bolder; font-size: 0.8em; margin-bottom: 10px"><%= note.title %> <span style="font-weight:lighter; float: right; font-size: 0.9em"><%= note.created_at.to_date.to_formatted_s(:long) %></span></div>
          <div style="font-size: 0.8em; margin-bottom: 5px"><%= strip_tags(note.content.truncate(100)) %></div>
          <div style="font-size: 0.7em"><%= link_to 'Read More', note, target: "_blank" %></div>
        </div>

      <% end %>
      <% if @open_property&.notes&.empty? %>
          <div class="investment-property-address" style="text-align: center; padding: 15px; color: #ccc">No recent notes</div>
      <% end %>
    </div>
  </div>

  <!-- HERE FORWARD IS TABLET VIEW -->
  <!-- =========================== -->
  <!-- =========================== -->
  <!-- =========================== -->

  <div class="investment-tablet-container">
    <div class="row">
      <% if @open_property&.avatar&.attached? && !Rails.env.development? %>
        <div style="background-image: url(<%= rails_blob_url(@open_property&.avatar) %>); background-repeat: no-repeat; background-position: top; background-size: cover; height: 400px; border-radius: .25rem; margin-bottom: 24px"></div>
      <% else %>
        <div style="background-image: url('/empty_property_image.png'); background-repeat: no-repeat; background-position: top; background-size: cover; height: 400px; border-radius: .25rem; margin-bottom: 24px"></div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-sm-7">
      </div>
      <div class="col-sm-5 card location-container">
        <% if @open_property %>
          <h5 class="show-investment-card-title">Locations</h5>
          <a class='investment-property-address' style="padding-bottom: 15px; color: inherit"  href="http://maps.google.com/maps?q=<%= @open_property&.address&.line1 %> <%= @open_property&.address&.location %>" target="_blank">
            <i class="fas fa-map-marker-alt" style="margin-right: 5px"></i> <%= @open_property&.address&.line1 %>, <%= @open_property&.address&.location %>
          </a>
        <% else %>
          <p>
            No Property Information
          </p>
        <% end %>
      </div>
      <div class="col-sm-5 card investor-card-container info-cards">
        <h5 class="show-investment-card-title">Documents</h5>
        <div class="form-table-container table-bordered">
          <% if !@open_property&.forms&.empty? %>
            <table class="form-table">
              <% @open_property&.forms.order(updated_at: :desc).each do |form| %>
                <% if form.document.attached? %>
                  <tr>
                    <td class="form-title">
                      <%= form.title %>
                    </td>
                    <td>
                      <%= link_to "Download/View", rails_blob_path(form.document, disposition: 'attachment') %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </table>            
          <% else %>
            <div class="investment-property-address" style="text-align: center; padding: 15px; color: #ccc">No Documents</div>
          <% end %>
        </div>
      </div>

      <div class="col-sm-5 card investor-card-container info-cards">
        <h5 class="show-investment-card-title">Notes & Updates</h5>
        <div class="investment-divider" style="margin-bottom: 10px"></div>
        <% @open_property&.notes.each do |note| %>

          <div class='note-container'>
            <div style="font-weight: bolder; font-size: 0.8em; margin-bottom: 10px"><%= note.title %> <span style="font-weight:lighter; float: right; font-size: 0.9em"><%= note.created_at.to_date.to_formatted_s(:long) %></span></div>
            <div style="font-size: 0.8em; margin-bottom: 5px"><%= strip_tags(note.content.truncate(100)) %></div>
            <div style="font-size: 0.7em"><%= link_to 'Read More', note, target: "_blank" %></div>
          </div>

        <% end %>
        <% if @open_property&.notes&.empty? %>
            <div class="investment-property-address" style="text-align: center; padding: 15px; color: #ccc">No recent notes</div>
        <% end %>
      </div>
    </div>
  </div>

  <!-- HERE FORWARD IS DESKTOP VIEW -->
  <!-- =========================== -->
  <!-- =========================== -->
  <!-- =========================== -->

  <div class="investment-desktop-container">
    <div class="row">
      <div class="col-sm-12"  style="padding-left:0px">
        <% if @open_property&.avatar&.attached? && !Rails.env.development? %>
          <div style="background-image: url(<%= rails_blob_url(@open_property&.avatar) %>); background-repeat: no-repeat; background-position: center; background-size: cover; height: 400px; border-radius: .25rem; margin-bottom: 24px"></div>
        <% else %>
          <div style="background-image: url('/empty_property_image.png'); background-repeat: no-repeat; background-position: top; background-size: cover; height: 400px; border-radius: .25rem; margin-bottom: 24px"></div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-7">
        <div class="card investor-card-container info-cards" style="padding: 0px 15px;">
          <h5 class="show-investment-card-title" style="text-align:center">Open for Funding</h5>
          <div class="investment-divider" style="padding-bottom: 10px"></div>
          <div class="row">
            <div class="row" style="padding: 8px 24px; font-size: 14px; min-height:100px">
              <div class="col-xs-6" style="max-height: 92px;">
                <p>
                  Investment Type
                  <br>
                  Funding Amount
                  <% if !@open_property.target_irr.blank? %>
                    <br>
                    Target Gross IRR
                  <% end %>
                  <% if !@open_property.equity_multiple.blank? %>
                    <br>
                    Net Equity Multiple
                  <% end %>
                  <% if !@open_property.average_annual_return.blank? %>
                    <br>
                    Average Annual Return
                  <% end %>
                </p>
              </div>
              <div class="col-xs-6" style="max-height: 92px;">
                <p class="text-right" style="font-weight: bold; text-align: right">
                  <%= @open_property.property_type.capitalize %>
                  <br>
                  <%= number_to_currency(@open_property&.funding_amount, precision: 0) %>
                  <% if !@open_property.target_irr.blank? %>
                    <br>
                    <%= "#{@open_property&.target_irr}%" %>
                  <% end %>
                  <% if !@open_property.equity_multiple.blank? %>
                    <br>
                    <%= "#{@open_property&.equity_multiple}" %>
                  <% end %>
                  <% if !@open_property.average_annual_return.blank? %>
                    <br>
                    <%= "#{@open_property&.average_annual_return}" %>
                  <% end %>
                </p>
              </div>
            </div>
          </div>
          <div class="row" style="display: flex;justify-content: center; margin-top:20px">
          <%# modal %>
            <button type="button" data-toggle="modal" data-target="#open-property-form-modal" class="table-button"> Invest in this property</button>
          </div>
        </div>
        <div class="card investor-card-container info-cards" style="padding-bottom: 10px">
          <h5 class="show-investment-card-title">Description</h5>
          <div class="investment-divider" style="padding-bottom: 10px"></div>
          <div style="padding:0px 15px">
            <% if !@open_property.description.blank? %>
              <%= @open_property.description.html_safe %>
            <% else %>
              <p>
                No Property Information
              </p>
            <% end %>
          </div>
        </div>
      </div>
      <div  class="col-sm-5" style="display: flex; flex-direction: column;">
        <div class="card investor-card-container info-cards" style="padding-bottom: 10px">
          <h5 class="show-investment-card-title">Locations</h5>
          <div class="investment-divider" style="padding-bottom: 10px"></div>
          <% if @open_property %>
            <a class='investment-property-address' style="padding: 15px; padding-bottom: 15px; color: inherit" style="text-decoration:none" href="http://maps.google.com/maps?q=<%= @open_property&.address&.line1 %> <%= @open_property&.address&.location %>" target="_blank">
              <i class="fas fa-map-marker-alt" style="margin-right: 5px"></i> <%= @open_property&.address&.line1 %>, <%= @open_property&.address&.location %>
            </a>
          <% else %>
            <p>
              No Property Information
            </p>
          <% end %>
        </div>

        <div class="card investor-card-container info-cards">
          <h5 class="show-investment-card-title">Documents</h5>
          <div class="form-table-container table-bordered">
            <% if !@open_property&.forms&.empty? %>
              <table class="form-table">
                <% @open_property&.forms.order(updated_at: :desc).each do |form| %>
                  <% if form.document.attached? %>
                    <tr>
                      <td class="form-title">
                        <%= form.title %>
                      </td>
                      <td>
                        <% if form.document.filename.to_s.downcase.include?('.pdf') %>
                          <%= link_to "Download/View", rails_blob_path(form.document), target: "_blank" %>
                        <% else %>
                          <%= link_to "Download/View", rails_blob_path(form.document, disposition: 'attachment') %>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              </table>            
            <% else %>
              <div class="investment-property-address" style="text-align: center; padding: 15px; color: #ccc">No Documents</div>
            <% end %>
          </div>
        </div>
          <div class="card investor-card-container notes-card">
            <h5 class="show-investment-card-title">Notes & Updates</h5>
            <div class="investment-divider"></div>
            <% if !@open_property&.notes&.empty? %>
              <% @open_property&.notes&.order(updated_at: :desc).each do |note| %>
                <div class="property-note-container">
                  <div class="note-title">
                    <strong><%= note.title %></strong> (<%= note.updated_at.strftime("%m/%d/%Y") %>)
                  </div>          
                  <div class="note-preview">
                    <%= note.note_preview %>
                  </div>          
                  <div class="note-options">
                    <span style="font-size: 0.8em"><%= link_to 'View',  '#', 'data-target' => "#myModal_#{note.id}", 'data-toggle' => 'modal'  %></span>
                    <div class="modal fade" id='<%= "myModal_#{note.id}" %>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content" style="margin-top:100px">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel"><%= note.title %></h4>
                          </div>
                          <div class="modal-body">
                            <%= note.content&.html_safe %>
                          </div>
                        </div><!-- /.modal-content -->
                      </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->  
                  </div>          
                </div>
              <% end %>
            <% else %>
              <div class="investment-property-address" style="text-align: center; padding: 15px; color: #ccc">No recent notes</div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>
