<div class="container">
  <div class="card" style="width: 40rem; max-width:100%; margin:30px auto;">
    <div class="card-header">
      Sign In
    </div>
    <div class="card-block">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group row">
          <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-md">Email</label>
          <div class="col-sm-10">
            <%= f.email_field :email, autofocus: true, class: "form-control form-control-md" %>
          </div>
        </div>

        <div class="form-group row">
          <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-md">Password</label>
          <div class="col-sm-10">
            <%= f.password_field :password, autocomplete: "off", class: "form-control form-control-md" %>
          </div>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="form-group row">
            <div class="col-sm-10">
              <%= f.check_box :remember_me %>
              <label for="smFormGroupInput" class="col-form-label col-form-label-md">Remember me</label>
            </div>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Sign in", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
    <div class="card-footer">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>