<%= render partial: "investors/modal_form" %>
<div class="table-page-header">
  <button type="button" style="float: right; background: white" data-toggle="modal" data-target="#investor-form-modal""> Add Investor</button>
  <h5 class="dashboard-title">Investors</h5>
</div>

<% if @investors.any? %>
  <div class="table-responsive">
    <table class="table table-bordered investor-table" id="sortable-table" cellspacing="0" width="100%">
      <thead class="thead-default">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Investment Entity</th>
          <th>Deals</th>
          <th>Invested</th>
        </tr>
      </thead>
      <tbody>
        <% @investors.each do |investor| %>
          <tr>
            <td><%= link_to investor.name.strip, investor_show_path(investor.id) %></td>
            <td><%= investor.email %></td>
            <td><%= investor.investment_entity %></td>
            <td><%= investor.deals.count %></td>
            <td><%= number_to_currency(investor.total_invested, precision: 0) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p>There are no investorss that match your search.</p>
<% end %>

<script>
  $(document).ready(function() {
    $('#sortable-table').DataTable({
      "paging": true,
      "info": false,
      "columnDefs": [{ "searchable": false, "targets": [1,3,4] }],
			"language": {
				"zeroRecords": "There are no search results.",
				searchPlaceholder: "Name or investment entity",
				search: "",
			}
    });
  });
</script>