<%= render partial: "investors/modal_form", investor: @investor %>
<div class="container-fluid" style="margin-top: 58px">
	<div class="row page-header">
		<div class="col-md-12">
      <button type="button" style="width: 100px ;background: white; float:right" data-toggle="modal" data-target="#investor-form-modal""> Edit </button>
			<h2 class="text-left">
				<%= @investor.name %>
			</h2> 
      <h5>
        <%= @investor.investment_entity %>
      </h5>
      <div><strong>Email: </strong> <%= @investor.email%> </div>
      <div><strong>Investments: </strong> <%= @investor.investments.count%> </div>
      <div><strong>Invested: </strong> <%=  number_to_currency(@investor.total_invested, precision: 0 ) %></div>
      <div><strong>Created At: </strong> <%= @investor.created_at.strftime("%B %d, %Y") %>  </div>
      <div><strong>Last Updated At: </strong> <%= @investor.updated_at.strftime("%B %d, %Y") %>  </div>
		</div>
		
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="table-page-header" style="padding-top: 20px">
				<span style="font-size: 24px; font-weight: 500">Investments</span>
        <button type="button" style="margin-left: 10px ;background: white; float:right" data-toggle="modal" data-target="#addInvestment">Add Investment</button>

        <div class="modal fade" id="addInvestment" tabindex="-1" role="dialog" aria-labelledby="addInvestment" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content" style="margin-top:100px">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="addInvestment">Add Investment</h4>
              </div>
              <div class="modal-body">
                <%= form_for @investment do |f| %>
                  <%= f.hidden_field :user_id, value: @investor.id %>
                  <fieldset class="form-group">
                    <label>Property</label>
                    <%= select :property, :id, Property.all.order("name ASC").map {|property| ["#{property.name}", property.id]}, prompt: 'Select Property...', required: true %>
                  </fieldset>
                  <fieldset class="form-group">
                    <label>Investor Entity<span style="color:red">*</span></label>
                    <%= f.text_field :investor_entity, required: true %>
                  </fieldset>

                  <fieldset class="form-group">
                    <label>Investment Entity<span style="color:red">*</span></label>
                    <%= f.text_field :investing_entity %>
                  </fieldset>

                  <fieldset class="form-group">
                    <label>Investment</label>
                    <%= f.text_field :amount_invested %>
                  </fieldset>

                  <fieldset class="form-group">
                    <label>Gross Distribution</label>
                    <%= f.text_field :gross_distribution %>
                  </fieldset>

                  <%= f.submit class: "btn btn-primary", id: "submit" %>

                <% end %>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
			</div>
      <% if !@investor&.investments.nil? %>
        <div class="table-responsive">
          <table class="investor-table display" id="sortable-table" cellspacing="0" width="100%">
            <thead class="thead-default">
              <tr>
                <th>
                  Property Name
                </th>
                <th>
                  Investor Entity
                </th>
                <th>
                  Investment Entity
                </th>
                <th>
                  Investment
                </th>
                <th>
                  Closing Date
                </th>
                <th>
                </th>
                <th>
                </th>
              </tr>
            </thead>
            <tbody>
              <% @investor&.investments.each do |invst| %>
                <tr class="investor-table">
                  <td>
                    <% if invst&.deal&.property&.id %>
                      <%= link_to "#{invst&.deal&.property&.name}", property_path(invst&.deal&.property&.id) %>
                    <% end %>
                  </td>
                  <td>
                    <%= invst.investor_entity %>
                  </td>
                  <td>
                    <%= invst.investing_entity ? invst.investing_entity : invst&.deal&.title %>
                  </td>
                  <td>
                    <%= number_to_currency(invst.amount_invested, precision: 0) %>
                  </td>
                  <td>
                    <%= invst&.deal&.property&.closing_date&.strftime("%B %d, %Y") %>
                  </td>
                  <td>
                    <%= link_to 'Edit',  '#', 'data-target' => "#myModal_#{invst.id}", 'data-toggle' => 'modal'  %>
                    <div class="modal fade" id='<%= "myModal_#{invst.id}" %>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog" style="margin-top:100px;background:white; border-radius:0.3rem;border: 1px solid rgba(0, 0, 0, 0.2)">
                        <div class="modal-content"></div>
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Update Investment</h4>
                          </div>
                          <div class="modal-body">
                            <%= form_for invst do |f| %>
                              <fieldset class="form-group">
                                <label>Investor Entity<span style="color:red">*</span></label>
                                <%= f.text_field :investor_entity, value: invst.investor_entity, required: true %>
                              </fieldset>

                              <fieldset class="form-group">
                                <label>Investment Entity<span style="color:red">*</span></label>
                                <%= f.text_field :investing_entity, value: invst.investing_entity %>
                              </fieldset>

                              <fieldset class="form-group">
                                <label>Investment</label>
                                <%= f.text_field :amount_invested, value: invst.amount_invested %>
                              </fieldset>

                              <fieldset class="form-group">
                                <label>Gross Distribution</label>
                                <%= f.text_field :gross_distribution, value: invst.gross_distribution %>
                              </fieldset>

                              <%= f.submit class: "btn btn-primary", id: "submit" %>

                            <% end %>
                          </div>
                        </div><!-- /.modal-content -->
                      </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                  </td>
                  <td><%= link_to "Delete", investment_path(invst.id), :method => :delete, data: {confirm: "Are you sure you want to delete this investment?"} %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% else %>
        No Investments on this investor.
      <% end %>
		</div>
	</div>
</div>

<script>
  $(document).ready(function() {
    $('#sortable-table').DataTable({
      searching: false,
      paging: false,
    });
  });
</script>