<%= render partial: "investors/modal_form", investor: @investor %>
<div class="container-fluid" style="margin-top: 58px">
	<div class="row">
		<div class="col-md-12">
      <button type="button" style="width: 100px ;background: white; float:right" data-toggle="modal" data-target="#investor-form-modal""> Edit </button>
			<h2 class="text-left">
				<%= @investor.name %>
			</h2> 
      <h5>
        <%= @investor.investment_entity %>
      </h5>
      <div><strong>Investments: </strong> <%= @investor.investments.count%> </div>
      <div><strong>Invested: </strong> <%=  number_to_currency(@investor.total_invested, precision: 0 ) %></div>
      <div><strong>Created At: </strong> <%= @investor.created_at.strftime("%B %d, %Y") %>  </div>
      <div><strong>Last Updated At: </strong> <%= @investor.updated_at.strftime("%B %d, %Y") %>  </div>
		</div>
		
	</div>
	<div class="row">
		<div class="col-md-12">
			<div style="padding-top: 20px">
				<span style="font-size: 24px; font-weight: 500">Investments</span>
        <br>
        <br>
			</div>
      <% if !@investor&.investments.nil? %>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>
                Property Name
              </th>
              <th>
                Investor Entity
              </th>
              <th>
                Investment Entity
              </th>
              <th>
                Investment
              </th>
              <th>
                Closing Date
              </th>
            </tr>
          </thead>
          <tbody>
            <% @investor&.investments.each do |invst| %>
              <tr class="investor-table">
                <td>
                  <%= invst&.deal&.property&.name %>
                </td>
                <td>
                  <%= invst.investing_entity %>
                </td>
                <td>
                  <%= invst&.deal&.title %>
                </td>
                <td>
                  <%= number_to_currency(invst.amount_invested, precision: 0) %>
                </td>
                <td>
                  <%= invst&.deal&.property&.closing_date&.strftime("%B %d, %Y") %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        No Investments on this investor.
      <% end %>
		</div>
	</div>
</div>