<%= render partial: "/notes/modal_form", note: @note %>
<%= render partial: "/forms/modal_form", doc: @doc %>
<h5 class="dashboard-title" style="font-size: 1.75rem;padding-left:15px">Dashboard</h5>

<div class="investment-desktop-container">
	<%# Totals Container %>
	<div class="col-md-12" style="margin-top: 20px; <% 
		if (current_user.admin || current_user.employee) && !current_user.investor_view %> display:none 
		<% end %>">
		<div class="card investor-card-container notes-card" style="max-height:unset">
		
			<h4 class="show-investment-card-title">Portfolio Overview</h4>
			<div class="col-md-8" style="margin-top:5em">
				<%# Active Investments %>
				<h5 class="show-investment-card-title" style="padding:0">Active Investments</h5>
				<div class="grey-divider" style="margin:0"></div>
				<div class="row row-margin">
					<div class="col-xs-6" style="margin-top: 10px">
						<b>Investments</b>
					</div>
					<div class="col-xs-6" style="text-align:right; font-weight: bold; margin-top: 10px">
						<%= @active_properties.count %>
					</div>
				</div>
				<div class="row row-margin">
					<div class="col-xs-6" style="margin-top: 10px">
						<b>Investment Amount</b>
					</div>
					<div class="col-xs-6" style="text-align:right; font-weight: bold; margin-top: 10px">
						<%= number_to_currency(@total_active_invested, precision: 2) %>
					</div>
				</div>
				<div class="row row-margin">
					<div class="col-xs-6" style="margin-top: 10px">
						<b>Returns To Date</b>
					</div>
					<div class="col-xs-6" style="text-align:right; font-weight: bold; margin-top: 10px">
						<%= number_to_currency(@total_active_returns, precision: 2) %>
					</div>
				</div>				
				<div class="grey-divider" style="margin:0;padding-bottom:40px"></div>

				<%# All Investments  %>
				<h5 class="show-investment-card-title" style="padding:0">All Investments</h5>
				<div class="grey-divider" style="margin:0"></div>
				<div class="row row-margin">
					<div class="col-xs-6" style="margin-top: 10px">
						<b>Investments</b>
					</div>
					<div class="col-xs-6" style="text-align:right; font-weight: bold; margin-top: 10px">
						<%= current_user.total_properties %>
					</div>
				</div>
				<div class="row row-margin">
					<div class="col-xs-6" style="margin-top: 10px">
						<b>Investment Amount</b>
					</div>
					<div class="col-xs-6" style="text-align:right; font-weight: bold; margin-top: 10px">
						<%= number_to_currency(current_user.total_invested, precision: 2) %>
					</div>
				</div>
				<div class="row row-margin">
					<div class="col-xs-6" style="margin-top: 10px">
						<b>Returns To Date</b>
					</div>
					<div class="col-xs-6" style="text-align:right; font-weight: bold; margin-top: 10px">
						<%= number_to_currency(current_user.total_distributions, precision: 2) %>
					</div>
				</div>				
				<div class="grey-divider" style="margin:0;padding-bottom:40px"></div>
			</div>
			<div class="col-md-4" style="margin-bottom:10px">
				<%= pie_chart(@pie_data, donut: true, legend: false, prefix: "$", round: 2, zeros: true, thousands: ",", colors: @pie_colors) %>
			</div>
			<div class="col-md-12">
				<%= column_chart(@column_data, prefix: "$", round: 2, zeros: true, thousands: ",") %>
			</div>
		</div>
	</div>

	<%# Document Container %>
	<div class="col-md-12" style="margin-top: 20px">
		<div class="card investor-card-container notes-card" style="max-height:250px">
			<% if @master_admin %>
				<button type="button" class="table button"
					style="width: 150px ;background: transparent; color: #0E77D9; padding:15px" data-toggle="modal"
					data-target="#docu-form-modal">Add Announcement</button>
			<% end %>
			<h5 class="show-investment-card-title">Announcements</h5>
			<div class="form-table-container table-bordered">
				<% if !@forms&.empty? %>
				<table class="form-table">
					<tbody class="sortable" style="cursor:grab">
						<% @forms.order(:sort).each do |form| %>
							<% if form.document.attached? %>
								<tr id="<%= form.sortable_id %>">
									<td class="form-title">
										<%= form.title %>
									</td>
									<td>
										<% if form&.document&.filename&.to_s&.downcase&.include?('.pdf') %>
										<%= link_to "Download/View", rails_blob_path(form&.document), target: "_blank" %>
										<% else %>
										<%= link_to "Download/View", rails_blob_path(form&.document, disposition: 'attachment') %>
										<% end %>
									</td>
									<% if @master_admin %>
										<td>
											<%= link_to 'Edit',  '#', 'data-target' => "#myFormEditModal_#{form.id}", 'data-toggle' => 'modal'  %>
											<div class="modal fade" id='<%= "myFormEditModal_#{form.id}" %>' tabindex="-1" role="dialog"
												aria-labelledby="myFormModalLabel" aria-hidden="true">
												<div class="modal-dialog">
													<div class="modal-content" style="margin-top:100px">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
															<h4 class="modal-title" id="myModalLabel">Update Document</h4>
														</div>
														<div class="modal-body">
															<%= form_for form do |f| %>
																<%= f.hidden_field :property_id, value: @property&.id %>
																<fieldset class="form-group">
																	<label>Title<span style="color:red">*</span></label>
																	<%= f.text_field :title, value: form&.title %>
																</fieldset>

																<fieldset class="form-group">
																	<label>File<span style="color:red">*</span></label>
																	<%= form&.document&.filename %>
																	<%= f.file_field :document %>
																</fieldset>

																<fieldset class="form-group">
																	<label>Form Library<span style="color:red">*</span></label>
																	<%= f.check_box :form_library, value: form&.form_library %>
																</fieldset>

																<%= f.submit "Upload Document", class: "btn btn-primary", id: "submit" %>
															<% end %>
														</div>
													</div><!-- /.modal-content -->
												</div><!-- /.modal-dialog -->
											</div><!-- /.modal -->
										</td>
										<td>
											<%= link_to "Delete", form_path(form.id), :method => :delete, data: {confirm: "Are you sure you want to delete this document?"} %>
										</td>
									<% end %>
								</tr>
							<% end %>
						<% end %>
					</tbody>
				</table>   
				<% else %>
				<div class="investment-property-address" style="text-align: center; padding: 15px; color: #ccc">No Documents
				</div>
				<% end %>
			</div>
		</div>
	</div>

	<%# Notes Container - hidden for now%>
	<div style="display:none" class="col-md-12" style="padding-left: 15px">
		<div class="card investor-card-container notes-card">
			<% if @master_admin %>
				<button type="button" class="table button"
					style="width: 50px ;background: transparent; color: #0E77D9; padding:15px; padding-right: 40px"
					data-toggle="modal" data-target="#note-form-modal"> Add </button>
			<% end %>
		<h5 class="show-investment-card-title" style="padding:15px">Notes & Updates</h5>
		<div class="investment-divider"></div>
			<% if !@notes.empty? %>
				<% @notes.order(updated_at: :desc).each do |note| %>
				<div class="property-note-container">
					<div class="note-title">
						<strong><%= note.title %></strong> (<%= note.updated_at.strftime("%m/%d/%Y") %>)
					</div>
					<div class="note-preview" style="margin-top:8px">
						<%= note.note_preview %>
					</div>
					<div class="note-options">
						<span
							style="font-size: 0.8em"><%= link_to 'View',  '#', 'data-target' => "#myModal_#{note.id}", 'data-toggle' => 'modal'  %></span>
						<div class="modal fade" id='<%= "myModal_#{note.id}" %>' tabindex="-1" role="dialog"
							aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content" style="margin-top:100px">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										<h4 class="modal-title" id="myModalLabel"><%= note.title %></h4>
									</div>
									<div class="modal-body">
										<%= note.content&.html_safe %>
									</div>
								</div><!-- /.modal-content -->
							</div><!-- /.modal-dialog -->
						</div><!-- /.modal -->
						<% if @master_admin %>
							<span style="font-size: 0.8em">|
								<%= link_to 'Edit',  '#', 'data-target' => "#myEditModal_#{note.id}", 'data-toggle' => 'modal'  %></span>
							<div class="modal fade" id='<%= "myEditModal_#{note.id}" %>' tabindex="-1" role="dialog"
								aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content" style="margin-top:100px">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
											<h4 class="modal-title" id="myModalLabel">Update Note</h4>
										</div>
										<div class="modal-body">
											<%= form_for note do |f| %>
											<%= f.hidden_field :property_id, value: @property&.id %>
											<fieldset class="form-group">
												<label>Title<span style="color:red">*</span></label>
												<%= f.text_field :title, value: note.title, required: true %>
											</fieldset>
											<fieldset class="form-group">
												<label>Note Preview<span style="color:red">*</span></label>
												<%= f.text_field :note_preview, value: note.note_preview, required: true, maxlength: 50 %>
											</fieldset>
											<fieldset class="form-group">
												<label>Content<span style="color:red">*</span></label>
												<%= f.text_area :content, value: note&.content&.html_safe, :class => "tinymce",  required: true %>
											</fieldset>

											<%= f.submit class: "btn btn-primary", id: "submit" %>
											<% end %>
										</div>
									</div><!-- /.modal-content -->
								</div><!-- /.modal-dialog -->
							</div><!-- /.modal -->
							<span style="font-size: 0.8em">|
								<%= link_to "Delete", note_path(note.id), :method => :delete, data: {confirm: "Are you sure you want to delete this note?"} %>
							</span>
						<% end %>
					</div>
				</div>
				<% end %>
			<% else %>
			<div class="investment-property-address" style="text-align: center; padding: 15px; color: #ccc">
				No recent notes
			</div>
			<% end %>
		</div>
	</div>
</div>