<div class="container-fluid" style="margin-top: 35px">
  <%= link_to "< Back to Property", property_path(@property.id), { :class=>"back-button" } %>
	<div class=" row page-header">
    <div class="col-md-12" style="padding-left: 0px;margin-top: 20px">
      <h2 class="text-left">
        Gross Distributions for <%= @property.nickname %>
      </h2>
    </div>

</div>

<div class="row" style="padding-top: 20px">
  <div class="col-md-12">
    <div class="table-page-header" style="padding-top: 20px">
      <span style="font-size: 24px; font-weight: 500">Gross Distributions</span>
      <button type="button" class="table-button" style="margin-left: 10px" data-toggle="modal"
        data-target="#addGrossDistribution">Add Gross Distribution</button>

<%# Add GD form %>
      <div class="modal fade" id="addGrossDistribution" tabindex="-1" role="dialog" aria-labelledby="addGrossDistribution"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content" style="margin-top:100px">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="addGrossDistribution">Add Gross Distribution</h4>
            </div>
            <div class="modal-body">
              <%= form_for @gross_distribution do |f| %>
              <%= f.hidden_field :investment_id, value: @investment.id %>
              <fieldset class="form-group">
                <label>Description<span style="color:red">*</span></label>
                <%= f.text_field :description, required: true %>
              </fieldset>
              <fieldset class="form-group">
                <label>Amount<span style="color:red">*</span></label>
                <%= f.text_field :amount, required: true %>
              </fieldset>

              <fieldset class="form-group">
                <label>Distribution Date<span style="color:red">*</span></label>
                <%= f.text_field :distribution_date, required: true, placeholder: "MM/DD/YYYY" %>
              </fieldset>

              <%= f.submit class: "btn btn-primary", disabled: "disabled", id: "submit" %>

              <% end %>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    </div>
    <% if !@gross_distributions.nil? %>
    <div class="table-responsive investor-table-container">
      <table class="display investor-table" id="sortable-table" cellspacing="0" width="100%">
        <thead class="thead-default">
          <tr>
            <th>
              Description
            </th>
            <th>
              Amount
            </th>
            <th>
              Distribution Date
            </th>
            <th>
            </th>
            <th>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @gross_distributions.each do |gd| %>
          <tr class="investor-table">
            <td>
              <%= gd.description %>
            </td>
            <td>
              <%= number_to_currency(gd.amount, precision: 0) %>
            </td>
            <td>
              <%= gd.distribution_date %>
            </td>
            <td>
              <%= link_to 'Edit',  '#', 'data-target' => "#myModal_#{gd.id}", 'data-toggle' => 'modal'  %>
              <div class="modal fade" id='<%= "myModal_#{gd.id}" %>' tabindex="-1" role="dialog"
                aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog"
                  style="margin-top:100px;background:white; border-radius:0.3rem;border: 1px solid rgba(0, 0, 0, 0.2)">
                  <div class="modal-content"></div>
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Update Gross Distribution</h4>
                  </div>
                  <div class="modal-body">
                    <%= form_for gd do |f| %>
                    <fieldset class="form-group">
                      <label>Description<span style="color:red">*</span></label>
                      <%= f.text_field :description, value: gd.description, required: true %>
                    </fieldset>

                    <fieldset class="form-group">
                      <label>Amount<span style="color:red">*</span></label>
                      <%= f.text_field :amount, value: gd.amount %>
                    </fieldset>

                    <fieldset class="form-group">
                      <label>Distribution Date</label>
                      <%= f.text_field :distribution_date, value: gd.distribution_date %>
                    </fieldset>

                    <%= f.submit class: "btn btn-primary", id: "submit" %>

                    <% end %>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
          </td>
        <td>
          <%= link_to "Delete", gross_distribution_path(gd.id), :method => :delete, data: {confirm: "Are you sure you want to delete this Gross Distribution?"} %>
        </td>
      </tr>
      <% end %>
    </tbody>
    </table>
  </div>
  <% else %>
  No Gross Distributions on this Property.
  <% end %>
</div>
</div>
</div>

<script>
  $(document).ready(function () {
    $('#sortable-table').DataTable({
      searching: false,
      paging: true,
    });
  });

  $('#addGrossDistribution input[required]').on('change', function () {

    var empty = false;
    $('#addGrossDistribution input[required]').each(function () {
      console.log($(this), $(this).val())

      if ($(this).val() == '') {
        empty = true;
      }
    });
    console.log(empty)
    if (empty) {
      $('#addGrossDistribution #submit').attr('disabled', 'disabled');
    } else {
      $('#addGrossDistribution #submit').removeAttr('disabled');
    }
  });

  $(document).ready(function () {

    var empty = false;
    $('#addGrossDistribution input[required]').each(function () {
      console.log($(this))
      if ($(this).val() == '') {
        empty = true;
      }
    });

    if (empty) {
      $('#addGrossDistribution #submit').attr('disabled', 'disabled');
    } else {
      $('#addGrossDistribution #submit').removeAttr('disabled');
    }
  });
</script>