<!DOCTYPE html>
<html>
  <head>
    <title>SyndicatedEquities</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="turbolinks-cache-control" content="no-cache">
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.0/css/buttons.bootstrap4.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"/>
    <script src="https://cdn.datatables.net/buttons/1.6.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://kit.fontawesome.com/7833ba6cd8.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

  </head>
  <body>

    <% if notice %>
      <div class="alert alert-info" role="alert"><%= notice %></div>
    <% end %>

    <% if alert %>
      <div class="alert alert-danger" role="alert"><%= alert %></div>
    <% end %>

    <nav class="navbar navbar-full navbar-dark bg-faded" style="background-color: #002849;">
      <div class="container">
        <button class="navbar-toggler hidden-lg-up float-xs-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
        <%= link_to '/', class: "navbar-brand" do %>
          <img src="<%= image_path('synequlogo.svg') %>" />
        <% end %>
        <div class="clearfix hidden-sm-up"></div>
        <% if current_user %>
          <div class="collapse navbar-toggleable-md" id="navbarResponsive">
            <ul class="nav navbar-nav">
              <% if (current_user.admin || current_user.employee) && !current_user.investor_view %>
                <li class="nav-item">
                  <%= link_to "Investors", users_path(current_user), class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Properties", properties_path(current_user), class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Resources", forms_path, class: "nav-link" %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "Dashboard", forms_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Investments", user_path(current_user), class: "nav-link" %>
                </li>
              <% end %>
              <li class="nav-item">
                <%= link_to "Form Library", form_library_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Edit Profile", edit_registration_path(current_user), class: "nav-link" %>
              </li>
              <li class="nav-item float-md-right">
                <%= link_to "Log out", destroy_session_path(current_user), :method => :delete, class: "nav-link" %>
              </li>
              <li class="nav-item float-md-right">
                <% if current_user.admin || current_user.employee %>
                  <div class="dropdown nav-text">
                    <button style="padding:0" class="btn-primary" type="button" data-toggle="dropdown">                
                      <span class="dropdown-toggle"><%= "#{current_user.first_name} #{current_user.last_name}" %></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Admin", user_path(current_user, investor_view: false) %></li>
                      <li><%= link_to "Investor", user_path(current_user, investor_view: true) %></li>
                    </ul>
                  </div>
                <% else %>
                  <span class="nav-text"><%= "#{current_user.first_name} #{current_user.last_name}" %></span>
                <% end %>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
    </nav>

    <div class="container <%= @view %>">
      <%= yield %>
    </div>

    <footer class ="footer">
      <div class="container">
        <span>&copy; Syndicated Equities <%= Date.today.year %> | <%= link_to 'Contact Us', contacts_path %></span>
      </div>
    </footer>
    <script>
      $(document).ready(function() {
        $(".alert").fadeTo(2000, 1000).slideUp(1000, function(){
            $(".alert").slideUp(1000);
        });
      });
    </script>
  </body>
</html>